.cortex-modal {

	@include fixed(top 0 left 0 right 0 bottom 0);
	@include flex-box;
	@include flex-col(center, center);
	background: rgba(0, 0, 0, 0.7);
	min-height: 360px;
	min-width: 360px;
	opacity: 0;
	padding: 60px;
	transition-property: opacity, visibility;
	transition-duration: 250ms;
	visibility: hidden;
	z-index: 159900;

	&.cortex-modal-visible {
		opacity: 1;
		visibility: visible;
	}

	&.cortex-modal-loading {
		&:after {
			@include absolute(top 50% left 50%);
			background: url(../images/spinner.gif) no-repeat;
			background-size: 20px 20px;
			content: "";
			display: block;
			margin-top: -10px;
			margin-left: -10px;
			height: 20px;
			width: 20px;
		}
	}
}

.cortex-modal-content {

	@include relative;
	background: #f1f1f1;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
	height: 100%;
	transition-property: transform, opacity, visibility;
	transition-duration: 250ms;
	transform: scale(0.95);
	width: 100%;

	.cortex-modal-visible & {
		transform: scale(1);
	}
}

.cortex-modal-content-head {
	@include absolute(top 0 left 0 right 0);
	@include flex-box;
	@include flex-row(center, flex-start);
	background: #fcfcfc;
	border: none;
	border-bottom: 1px solid #dddddd;
	font-size: 20px;
	font-weight: 600;
	height: 50px;
	padding-left: 16px;
	padding-right: 16px;
	z-index: 100;
}

.cortex-modal-content-body {

	@include absolute(top 50px left 0 right 0 bottom 0);
	opacity: 1;
	overflow: auto;
	transition-property: transform, opacity, visibility;
	transition-duration: 150ms;
	z-index: 50;

	.cortex-modal-loading & {
		opacity: 0;
	}
}

.cortex-post-selector-search {

	@include flex-box;
	@include flex-row(center, flex-end);
	padding: 16px;
}

.cortex-post-selector-search-label {

	@include relative;
	margin-right: 8px;

	.cortex-post-selector-searching & {

		&:before {
			@include absolute(top 50% left -24px);
			background: url(../images/spinner.gif) no-repeat;
			background-size: 20px 20px;
			content: "";
			display: block;
			margin-top: -10px;
			margin-left: -10px;
			height: 20px;
			width: 20px;
		}
	}
}

.cortex-post-selector-search-field {

}
