.cortex-block-list-empty-message {

	background: #fff;
	display: none;
	padding: 32px;

	.cortex-block-list-empty & {
		@include flex-box;
		@include flex-col(center, center);
	}
}

.cortex-block-list-empty-message-text {

	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;

	h2 {
		font-size: 16px !important;
		margin: 0px 0px 3px 0px !important;
		padding: 0px !important;
	}

	p {
		color: #888;
		font-size: 13px;
		margin: 0px;
		padding: 0px;
	}
}

.cortex-block-list-menu {
	@include flex-box;
	@include flex-row(center, flex-end);
	background: #f5f5f5;
	border: none;
	border-bottom: 1px solid #e5e5e5;
}

.cortex-block-list-menu-button {

	@include flex-box;
	@include flex-col(center, center);
	cursor: pointer;
	border: none;
	border-left: 1px solid #e5e5e5;
	height: 24px;
	padding: 12px;
	width: 24px;

	&:hover {
		background: #eeeeee;
	}

	svg {
		display: block;
		height: 24px;
		width: 24px;
	}
}