<div id="cortex-block-editor" class="cortex-text-editor cortex-block-editor" data-file="block" data-guid="{{ template.get_guid() }}" data-date="{{ template.get_block_file_date() }}"></div>
<textarea id="cortex-block" name="cortex_block" style="display:none">{{ template.get_block_file_content() }}</textarea>