<div id="cortex-preview-editor" class="cortex-text-editor cortex-preview-editor" data-file="preview" data-guid="{{ template.get_guid() }}" data-date="{{ template.get_preview_file_date() }}"></div>
<textarea id="cortex-preview" name="cortex_preview" style="display:none">{{ template.get_preview_file_content() }}</textarea>