<div id="cortex-style-editor" class="cortex-text-editor cortex-style-editor" data-file="style" data-guid="{{ template.get_guid() }}" data-date="{{ template.get_style_file_date() }}"></div>
<textarea id="cortex-style" name="cortex_style" style="display:none;">{{ template.get_style_file_content() }}</textarea>