<div id="cortex-script-editor" class="cortex-text-editor cortex-script-editor" data-file="script" data-guid="{{ template.get_guid() }}" data-date="{{ template.get_script_file_date() }}"></div>
<textarea id="cortex-script" name="cortex_script" style="display:none">{{ template.get_script_file_content() }}</textarea>