<div class="layout-preview" data-columns="3">
	<div class="layout-preview-col">{{ block.preview_region('col_1') }}</div>
	<div class="layout-preview-col">{{ block.preview_region('col_2') }}</div>
	<div class="layout-preview-col">{{ block.preview_region('col_3') }}</div>
</div>